POSTGRES_USER=scrapyuser
POSTGRES_PASSWORD=scrapypass
POSTGRES_DB=scrapydb
DATABASE_HOST=host.docker.internal
DATABASE_PORT=5432


SCRAPY_OUTPUT_FILE=output/movies.csv
SCRAPY_SPIDER_NAME=movies

ROBOTSTXT_OBEY=False
USER_AGENT="Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"